Importing packages

In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import numpy as np

Importing food access dataset

In [2]:
food_access_df = pd.read_excel('../data/food_access.xlsx')

Checking head/info

// TO DO: Isolate just the TN data from `food_access_df` and read into a new dataframe.

In [3]:
food_access_df.head()

,CensusTract,State,County,Urban,Pop2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
0,1001020100,Alabama,Autauga County,1,1912,693,0,0.0,0.00,0,...,221.0,1622.0,217.0,14.0,0.0,14.0,45.0,44.0,6.0,102.0
1,1001020200,Alabama,Autauga County,1,2170,743,0,181.0,8.34,1,...,214.0,888.0,1217.0,5.0,0.0,5.0,55.0,75.0,89.0,156.0
2,1001020300,Alabama,Autauga County,1,3373,1256,0,0.0,0.00,0,...,439.0,2576.0,647.0,17.0,5.0,11.0,117.0,87.0,99.0,172.0
3,1001020400,Alabama,Autauga County,1,4386,1722,0,0.0,0.00,0,...,904.0,4086.0,193.0,18.0,4.0,11.0,74.0,85.0,21.0,98.0
4,1001020500,Alabama,Autauga County,1,10766,4082,0,181.0,1.68,0,...,1126.0,8666.0,1437.0,296.0,9.0,48.0,310.0,355.0,230.0,339.0

Filtering `food_access_df` into new DataFrame with just the TN entries.

In [4]:
tn_food_access_df = food_access_df[food_access_df['State']=='Tennessee']

In [5]:
tn_food_access_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 1489 entries, 59698 to 61186
Columns: 147 entries, CensusTract to TractSNAP
dtypes: float64(126), int64(19), object(2)
memory usage: 1.7+ MB

Attempting to edit the `CensusTract` column to match Census tract numbers from `census_income_df`

First checking dtypes and then creating a new `CensusTract_Formatted` column, converting the int64 dtype in `CensusTract` into an object/string.

In [6]:
tn_food_access_df.dtypes

CensusTract        int64
State             object
County            object
Urban              int64
Pop2010            int64
                  ...
TractAIAN        float64
TractOMultir     float64
TractHispanic    float64
TractHUNV        float64
TractSNAP        float64
Length: 147, dtype: object

In [7]:
tn_food_access_df['CensusTract_Formatted'] = tn_food_access_df['CensusTract'].astype(str)

C:\Users\Owner\AppData\Local\Temp\ipykernel_11340\3094399602.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tn_food_access_df['CensusTract_Formatted'] = tn_food_access_df['CensusTract'].astype(str)

In [8]:
# d['Report Number'] = d['Report Number'].str[3:]
tn_food_access_df['CensusTract_Formatted2'] = tn_food_access_df['CensusTract_Formatted'].str[6:]

C:\Users\Owner\AppData\Local\Temp\ipykernel_11340\551598922.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tn_food_access_df['CensusTract_Formatted2'] = tn_food_access_df['CensusTract_Formatted'].str[6:]

Creating a new column each time just in case my methods don't work, but also going back to delete unneeded columns. Will rename to `CensusTract_Formatted` once I get the column I need.

In [9]:
del tn_food_access_df['CensusTract_Formatted']

I probably need to use a lambda argument to insert the decimal point into the existing numbers. This is from Free Code Camp:

lambda argument(s) : expression


1. lambda is a keyword in Python for defining the anonymous function.
2. argument(s) is a placeholder, that is a variable that will be used to hold the value you want to pass into the function expression. A lambda function can have multiple variables depending on what you want to achieve.
3. expression is the code you want to execute in the lambda function.

https://www.freecodecamp.org/news/python-lambda-function-explained/

In [10]:
tn_food_access_df['CensusTract_Formatted3'] = tn_food_access_df['CensusTract_Formatted2'].apply(lambda x: x[:3] + '.' + x[3:])

C:\Users\Owner\AppData\Local\Temp\ipykernel_11340\1897836778.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tn_food_access_df['CensusTract_Formatted3'] = tn_food_access_df['CensusTract_Formatted2'].apply(lambda x: x[:3] + '.' + x[3:])

It worked! I can delete the extra CT formatted column and rename #3 to the most current.

In [11]:
del tn_food_access_df['CensusTract_Formatted2']

In [12]:
# rename column 'A' to 'X'
# df = df.rename(columns={'A': 'X'})

tn_food_access_df = tn_food_access_df.rename(columns={'CensusTract':'CT_Old','CensusTract_Formatted3':'CT_Clean'})

In [13]:
tn_food_access_df.head()

,CT_Old,State,County,Urban,Pop2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP,CT_Clean
59698,47001020100,Tennessee,Anderson County,1,3111,1546,0,6.0,0.19,0,...,1969.0,853.0,130.0,2.0,9.0,148.0,145.0,206.0,438.0,201.00
59699,47001020201,Tennessee,Anderson County,1,3670,1535,0,103.0,2.81,0,...,3158.0,144.0,256.0,0.0,6.0,106.0,84.0,49.0,31.0,202.01
59700,47001020202,Tennessee,Anderson County,1,4507,2025,0,230.0,5.10,0,...,3988.0,194.0,128.0,0.0,18.0,179.0,214.0,174.0,208.0,202.02
59701,47001020300,Tennessee,Anderson County,1,3822,1656,0,0.0,0.00,0,...,3290.0,278.0,20.0,3.0,18.0,213.0,179.0,53.0,109.0,203.00
59702,47001020400,Tennessee,Anderson County,1,4508,2013,0,106.0,2.35,1,...,3855.0,264.0,34.0,3.0,20.0,332.0,277.0,86.0,406.0,204.00

In [14]:
tn_food_access_df['CT_Clean'].nunique()

993

In [15]:
# https://www.freecodecamp.org/news/dataframe-to-csv-how-to-save-pandas-dataframes-by-exporting/#:~:text=df%20%3D%20pd.DataFrame(Biodata)%20%3A%20This%20creates%20a,CSV%20file%20named%20Biodata.csv%20.
# df.to_csv('Biodata.csv', index=False)

# tn_food_access_df.to_csv('tn_food_access.csv', index=False)

In [16]:
# df.to_csv('Biodata.csv', index=False)

******************************************************************************************************

### Census dataset

Reading in Census dataset and checking head/info. This will need to be cleaned and transformed!

In [17]:
census_df = pd.read_excel('../data/census_tn_income_b19001.xlsx')

In [18]:
census_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18 entries, 0 to 17
Columns: 3405 entries, Unnamed: 0 to Unnamed: 3404
dtypes: object(3405)
memory usage: 479.0+ KB

In [19]:
census_df.head()

,Unnamed: 0,Tennessee,Unnamed: 2,"Census Tract 201, Anderson, TN",Unnamed: 4,"Census Tract 202.01, Anderson, TN",Unnamed: 6,"Census Tract 202.02, Anderson, TN",Unnamed: 8,"Census Tract 203, Anderson, TN",...,"Census Tract 309.05, Wilson, TN",Unnamed: 3396,"Census Tract 309.06, Wilson, TN",Unnamed: 3398,"Census Tract 309.07, Wilson, TN",Unnamed: 3400,"Census Tract 309.08, Wilson, TN",Unnamed: 3402,"Census Tract 310, Wilson, TN",Unnamed: 3404
0,NaN,Value,Error,Value,Error,Value,Error,Value,Error,Value,...,Value,Error,Value,Error,Value,Error,Value,Error,Value,Error
1,Total:,2713635,7405,1531,225,2029,160,1951,235,1567,...,1925,288,1963,244,2513,276,3124,432,2365,373
2,"Less than $10,000",144639,2807,156,90,93,73,235,127,25,...,38,64,0,19,109,89,133,92,159,106
3,"$10,000 to $14,999",122212,3595,74,52,28,35,159,126,95,...,0,19,21,35,60,58,61,102,174,158
4,"$15,000 to $19,999",111419,2673,41,42,26,30,7,13,56,...,0,19,17,30,59,68,46,52,124,75

Renaming the first column so it doesn't get dropped with the rest of the 'unnamed' columns.

In [21]:
census_df_clean.columns.values.tolist()

['1',
 '2',
 'Unnamed: 2',
 'Census Tract 201, Anderson, TN',
 'Unnamed: 4',
 'Census Tract 202.01, Anderson, TN',
 'Unnamed: 6',
 'Census Tract 202.02, Anderson, TN',
 'Unnamed: 8',
 'Census Tract 203, Anderson, TN',
 'Unnamed: 10',
 'Census Tract 204, Anderson, TN',
 'Unnamed: 12',
 'Census Tract 205, Anderson, TN',
 'Unnamed: 14',
 'Census Tract 206, Anderson, TN',
 'Unnamed: 16',
 'Census Tract 207, Anderson, TN',
 'Unnamed: 18',
 'Census Tract 208, Anderson, TN',
 'Unnamed: 20',
 'Census Tract 209.01, Anderson, TN',
 'Unnamed: 22',
 'Census Tract 209.02, Anderson, TN',
 'Unnamed: 24',
 'Census Tract 210.01, Anderson, TN',
 'Unnamed: 26',
 'Census Tract 210.02, Anderson, TN',
 'Unnamed: 28',
 'Census Tract 211, Anderson, TN',
 'Unnamed: 30',
 'Census Tract 212.01, Anderson, TN',
 'Unnamed: 32',
 'Census Tract 212.02, Anderson, TN',
 'Unnamed: 34',
 'Census Tract 213.01, Anderson, TN',
 'Unnamed: 36',
 'Census Tract 213.03, Anderson, TN',
 'Unnamed: 38',
 'Census Tract 213.04, Anderson, TN',
 'Unnamed: 40',
 'Census Tract 9801, Anderson, TN',
 'Unnamed: 42',
 'Census Tract 9501, Bedford, TN',
 'Unnamed: 44',
 'Census Tract 9502.01, Bedford, TN',
 'Unnamed: 46',
 'Census Tract 9502.02, Bedford, TN',
 'Unnamed: 48',
 'Census Tract 9503, Bedford, TN',
 'Unnamed: 50',
 'Census Tract 9504.01, Bedford, TN',
 'Unnamed: 52',
 'Census Tract 9504.02, Bedford, TN',
 'Unnamed: 54',
 'Census Tract 9505, Bedford, TN',
 'Unnamed: 56',
 'Census Tract 9506, Bedford, TN',
 'Unnamed: 58',
 'Census Tract 9507, Bedford, TN',
 'Unnamed: 60',
 'Census Tract 9508, Bedford, TN',
 'Unnamed: 62',
 'Census Tract 9630, Benton, TN',
 'Unnamed: 64',
 'Census Tract 9631, Benton, TN',
 'Unnamed: 66',
 'Census Tract 9632, Benton, TN',
 'Unnamed: 68',
 'Census Tract 9633, Benton, TN',
 'Unnamed: 70',
 'Census Tract 9634, Benton, TN',
 'Unnamed: 72',
 'Census Tract 9530, Bledsoe, TN',
 'Unnamed: 74',
 'Census Tract 9531.01, Bledsoe, TN',
 'Unnamed: 76',
 'Census Tract 9531.02, Bledsoe, TN',
 'Unnamed: 78',
 'Census Tract 9532, Bledsoe, TN',
 'Unnamed: 80',
 'Census Tract 101, Blount, TN',
 'Unnamed: 82',
 'Census Tract 102, Blount, TN',
 'Unnamed: 84',
 'Census Tract 103.01, Blount, TN',
 'Unnamed: 86',
 'Census Tract 103.02, Blount, TN',
 'Unnamed: 88',
 'Census Tract 104, Blount, TN',
 'Unnamed: 90',
 'Census Tract 105, Blount, TN',
 'Unnamed: 92',
 'Census Tract 106, Blount, TN',
 'Unnamed: 94',
 'Census Tract 107, Blount, TN',
 'Unnamed: 96',
 'Census Tract 108, Blount, TN',
 'Unnamed: 98',
 'Census Tract 109, Blount, TN',
 'Unnamed: 100',
 'Census Tract 110.01, Blount, TN',
 'Unnamed: 102',
 'Census Tract 110.02, Blount, TN',
 'Unnamed: 104',
 'Census Tract 111.01, Blount, TN',
 'Unnamed: 106',
 'Census Tract 111.02, Blount, TN',
 'Unnamed: 108',
 'Census Tract 112.01, Blount, TN',
 'Unnamed: 110',
 'Census Tract 112.02, Blount, TN',
 'Unnamed: 112',
 'Census Tract 113.01, Blount, TN',
 'Unnamed: 114',
 'Census Tract 113.02, Blount, TN',
 'Unnamed: 116',
 'Census Tract 114.01, Blount, TN',
 'Unnamed: 118',
 'Census Tract 114.03, Blount, TN',
 'Unnamed: 120',
 'Census Tract 114.04, Blount, TN',
 'Unnamed: 122',
 'Census Tract 115.01, Blount, TN',
 'Unnamed: 124',
 'Census Tract 115.02, Blount, TN',
 'Unnamed: 126',
 'Census Tract 115.03, Blount, TN',
 'Unnamed: 128',
 'Census Tract 116.03, Blount, TN',
 'Unnamed: 130',
 'Census Tract 116.04, Blount, TN',
 'Unnamed: 132',
 'Census Tract 116.05, Blount, TN',
 'Unnamed: 134',
 'Census Tract 116.06, Blount, TN',
 'Unnamed: 136',
 'Census Tract 116.07, Blount, TN',
 'Unnamed: 138',
 'Census Tract 9801, Blount, TN',
 'Unnamed: 140',
 'Census Tract 9802, Blount, TN',
 'Unnamed: 142',
 'Census Tract 101, Bradley, TN',
 'Unnamed: 144',
 'Census Tract 102.01, Bradley, TN',
 'Unnamed: 146',
 'Census Tract 102.02, Bradley, TN',
 'Unnamed: 148',
 'Census Tract 103, Bradley, TN',
 'Unnamed: 150',
 'Census Tract 104, Bradley, TN',
 'Unnamed: 152',
 'Census Tract 105, Bradley, TN',
 'Unnamed: 154',
 'Census Tract 106, Bradley, TN',
 'Unnamed: 156',
 'Census Tract 107, Bradley, TN',
 'Unnamed: 158',
 'Census Tract 108, Bradley, TN',
 'Unnamed: 160',
 'Census Tract 109, Bradley, TN',
 'Unnamed: 162',
 'Census Tract 110, Bradley, TN',
 'Unnamed: 164',
 'Census Tract 111.01, Bradley, TN',
 'Unnamed: 166',
 'Census Tract 111.02, Bradley, TN',
 'Unnamed: 168',
 'Census Tract 112.01, Bradley, TN',
 'Unnamed: 170',
 'Census Tract 112.03, Bradley, TN',
 'Unnamed: 172',
 'Census Tract 112.04, Bradley, TN',
 'Unnamed: 174',
 'Census Tract 113.01, Bradley, TN',
 'Unnamed: 176',
 'Census Tract 113.02, Bradley, TN',
 'Unnamed: 178',
 'Census Tract 114.02, Bradley, TN',
 'Unnamed: 180',
 'Census Tract 114.03, Bradley, TN',
 'Unnamed: 182',
 'Census Tract 114.04, Bradley, TN',
 'Unnamed: 184',
 'Census Tract 115.01, Bradley, TN',
 'Unnamed: 186',
 'Census Tract 115.02, Bradley, TN',
 'Unnamed: 188',
 'Census Tract 116.01, Bradley, TN',
 'Unnamed: 190',
 'Census Tract 116.02, Bradley, TN',
 'Unnamed: 192',
 'Census Tract 9501, Campbell, TN',
 'Unnamed: 194',
 'Census Tract 9502, Campbell, TN',
 'Unnamed: 196',
 'Census Tract 9503, Campbell, TN',
 'Unnamed: 198',
 'Census Tract 9504, Campbell, TN',
 'Unnamed: 200',
 'Census Tract 9505, Campbell, TN',
 'Unnamed: 202',
 'Census Tract 9506.01, Campbell, TN',
 'Unnamed: 204',
 'Census Tract 9506.02, Campbell, TN',
 'Unnamed: 206',
 'Census Tract 9507.01, Campbell, TN',
 'Unnamed: 208',
 'Census Tract 9507.02, Campbell, TN',
 'Unnamed: 210',
 'Census Tract 9508, Campbell, TN',
 'Unnamed: 212',
 'Census Tract 9509, Campbell, TN',
 'Unnamed: 214',
 'Census Tract 9510, Campbell, TN',
 'Unnamed: 216',
 'Census Tract 9511, Campbell, TN',
 'Unnamed: 218',
 'Census Tract 9601, Cannon, TN',
 'Unnamed: 220',
 'Census Tract 9602.01, Cannon, TN',
 'Unnamed: 222',
 'Census Tract 9602.02, Cannon, TN',
 'Unnamed: 224',
 'Census Tract 9603, Cannon, TN',
 'Unnamed: 226',
 'Census Tract 9620, Carroll, TN',
 'Unnamed: 228',
 'Census Tract 9621.01, Carroll, TN',
 'Unnamed: 230',
 'Census Tract 9621.02, Carroll, TN',
 'Unnamed: 232',
 'Census Tract 9622.01, Carroll, TN',
 'Unnamed: 234',
 'Census Tract 9622.02, Carroll, TN',
 'Unnamed: 236',
 'Census Tract 9623, Carroll, TN',
 'Unnamed: 238',
 'Census Tract 9624, Carroll, TN',
 'Unnamed: 240',
 'Census Tract 9625, Carroll, TN',
 'Unnamed: 242',
 'Census Tract 9801, Carroll, TN',
 'Unnamed: 244',
 'Census Tract 701, Carter, TN',
 'Unnamed: 246',
 'Census Tract 702, Carter, TN',
 'Unnamed: 248',
 'Census Tract 703, Carter, TN',
 'Unnamed: 250',
 'Census Tract 704, Carter, TN',
 'Unnamed: 252',
 'Census Tract 705, Carter, TN',
 'Unnamed: 254',
 'Census Tract 706, Carter, TN',
 'Unnamed: 256',
 'Census Tract 707, Carter, TN',
 'Unnamed: 258',
 'Census Tract 708, Carter, TN',
 'Unnamed: 260',
 'Census Tract 709, Carter, TN',
 'Unnamed: 262',
 'Census Tract 710, Carter, TN',
 'Unnamed: 264',
 'Census Tract 711, Carter, TN',
 'Unnamed: 266',
 'Census Tract 712, Carter, TN',
 'Unnamed: 268',
 'Census Tract 713.01, Carter, TN',
 'Unnamed: 270',
 'Census Tract 713.02, Carter, TN',
 'Unnamed: 272',
 'Census Tract 714, Carter, TN',
 'Unnamed: 274',
 'Census Tract 715, Carter, TN',
 'Unnamed: 276',
 'Census Tract 716, Carter, TN',
 'Unnamed: 278',
 'Census Tract 717, Carter, TN',
 'Unnamed: 280',
 'Census Tract 701.02, Cheatham, TN',
 'Unnamed: 282',
 'Census Tract 701.03, Cheatham, TN',
 'Unnamed: 284',
 'Census Tract 701.04, Cheatham, TN',
 'Unnamed: 286',
 'Census Tract 702.01, Cheatham, TN',
 'Unnamed: 288',
 'Census Tract 702.02, Cheatham, TN',
 'Unnamed: 290',
 'Census Tract 702.03, Cheatham, TN',
 'Unnamed: 292',
 'Census Tract 703, Cheatham, TN',
 'Unnamed: 294',
 'Census Tract 704.01, Cheatham, TN',
 'Unnamed: 296',
 'Census Tract 704.02, Cheatham, TN',
 'Unnamed: 298',
 'Census Tract 9701.01, Chester, TN',
 'Unnamed: 300',
 'Census Tract 9701.02, Chester, TN',
 'Unnamed: 302',
 'Census Tract 9702, Chester, TN',
 'Unnamed: 304',
 'Census Tract 9703.01, Chester, TN',
 'Unnamed: 306',
 'Census Tract 9703.02, Chester, TN',
 'Unnamed: 308',
 'Census Tract 9701, Claiborne, TN',
 'Unnamed: 310',
 'Census Tract 9702, Claiborne, TN',
 'Unnamed: 312',
 'Census Tract 9703, Claiborne, TN',
 'Unnamed: 314',
 'Census Tract 9704, Claiborne, TN',
 'Unnamed: 316',
 'Census Tract 9705, Claiborne, TN',
 'Unnamed: 318',
 'Census Tract 9706, Claiborne, TN',
 'Unnamed: 320',
 'Census Tract 9707, Claiborne, TN',
 'Unnamed: 322',
 'Census Tract 9708, Claiborne, TN',
 'Unnamed: 324',
 'Census Tract 9709, Claiborne, TN',
 'Unnamed: 326',
 'Census Tract 9550, Clay, TN',
 'Unnamed: 328',
 'Census Tract 9551, Clay, TN',
 'Unnamed: 330',
 'Census Tract 9201, Cocke, TN',
 'Unnamed: 332',
 'Census Tract 9202, Cocke, TN',
 'Unnamed: 334',
 'Census Tract 9203, Cocke, TN',
 'Unnamed: 336',
 'Census Tract 9204, Cocke, TN',
 'Unnamed: 338',
 'Census Tract 9205.01, Cocke, TN',
 'Unnamed: 340',
 'Census Tract 9205.02, Cocke, TN',
 'Unnamed: 342',
 'Census Tract 9206, Cocke, TN',
 'Unnamed: 344',
 'Census Tract 9207, Cocke, TN',
 'Unnamed: 346',
 'Census Tract 9801, Cocke, TN',
 'Unnamed: 348',
 'Census Tract 9701, Coffee, TN',
 'Unnamed: 350',
 'Census Tract 9702.01, Coffee, TN',
 'Unnamed: 352',
 'Census Tract 9702.02, Coffee, TN',
 'Unnamed: 354',
 'Census Tract 9703, Coffee, TN',
 'Unnamed: 356',
 'Census Tract 9704.01, Coffee, TN',
 'Unnamed: 358',
 'Census Tract 9704.02, Coffee, TN',
 'Unnamed: 360',
 'Census Tract 9705.01, Coffee, TN',
 'Unnamed: 362',
 'Census Tract 9705.02, Coffee, TN',
 'Unnamed: 364',
 'Census Tract 9706, Coffee, TN',
 'Unnamed: 366',
 'Census Tract 9707, Coffee, TN',
 'Unnamed: 368',
 'Census Tract 9708.01, Coffee, TN',
 'Unnamed: 370',
 'Census Tract 9708.03, Coffee, TN',
 'Unnamed: 372',
 'Census Tract 9708.04, Coffee, TN',
 'Unnamed: 374',
 'Census Tract 9709, Coffee, TN',
 'Unnamed: 376',
 'Census Tract 9710.01, Coffee, TN',
 'Unnamed: 378',
 'Census Tract 9710.02, Coffee, TN',
 'Unnamed: 380',
 'Census Tract 9801, Coffee, TN',
 'Unnamed: 382',
 'Census Tract 9610, Crockett, TN',
 'Unnamed: 384',
 'Census Tract 9611, Crockett, TN',
 'Unnamed: 386',
 'Census Tract 9612, Crockett, TN',
 'Unnamed: 388',
 'Census Tract 9613, Crockett, TN',
 'Unnamed: 390',
 'Census Tract 9614, Crockett, TN',
 'Unnamed: 392',
 'Census Tract 9701.01, Cumberland, TN',
 'Unnamed: 394',
 'Census Tract 9701.03, Cumberland, TN',
 'Unnamed: 396',
 'Census Tract 9701.04, Cumberland, TN',
 'Unnamed: 398',
 'Census Tract 9702.01, Cumberland, TN',
 'Unnamed: 400',
 'Census Tract 9702.02, Cumberland, TN',
 'Unnamed: 402',
 'Census Tract 9703.01, Cumberland, TN',
 'Unnamed: 404',
 'Census Tract 9703.02, Cumberland, TN',
 'Unnamed: 406',
 'Census Tract 9704.01, Cumberland, TN',
 'Unnamed: 408',
 'Census Tract 9704.02, Cumberland, TN',
 'Unnamed: 410',
 'Census Tract 9705.01, Cumberland, TN',
 'Unnamed: 412',
 'Census Tract 9705.02, Cumberland, TN',
 'Unnamed: 414',
 'Census Tract 9706.01, Cumberland, TN',
 'Unnamed: 416',
 'Census Tract 9706.02, Cumberland, TN',
 'Unnamed: 418',
 'Census Tract 9706.03, Cumberland, TN',
 'Unnamed: 420',
 'Census Tract 9707.01, Cumberland, TN',
 'Unnamed: 422',
 'Census Tract 9707.02, Cumberland, TN',
 'Unnamed: 424',
 'Census Tract 9708, Cumberland, TN',
 'Unnamed: 426',
 'Census Tract 101.03, Davidson, TN',
 'Unnamed: 428',
 'Census Tract 101.04, Davidson, TN',
 'Unnamed: 430',
 'Census Tract 101.05, Davidson, TN',
 'Unnamed: 432',
 'Census Tract 101.06, Davidson, TN',
 'Unnamed: 434',
 'Census Tract 102.01, Davidson, TN',
 'Unnamed: 436',
 'Census Tract 102.02, Davidson, TN',
 'Unnamed: 438',
 'Census Tract 103.01, Davidson, TN',
 'Unnamed: 440',
 'Census Tract 103.02, Davidson, TN',
 'Unnamed: 442',
 'Census Tract 103.03, Davidson, TN',
 'Unnamed: 444',
 'Census Tract 104.01, Davidson, TN',
 'Unnamed: 446',
 'Census Tract 104.03, Davidson, TN',
 'Unnamed: 448',
 'Census Tract 104.04, Davidson, TN',
 'Unnamed: 450',
 'Census Tract 105.01, Davidson, TN',
 'Unnamed: 452',
 'Census Tract 105.02, Davidson, TN',
 'Unnamed: 454',
 'Census Tract 106.01, Davidson, TN',
 'Unnamed: 456',
 'Census Tract 106.02, Davidson, TN',
 'Unnamed: 458',
 'Census Tract 107.01, Davidson, TN',
 'Unnamed: 460',
 'Census Tract 107.02, Davidson, TN',
 'Unnamed: 462',
 'Census Tract 108.01, Davidson, TN',
 'Unnamed: 464',
 'Census Tract 108.02, Davidson, TN',
 'Unnamed: 466',
 'Census Tract 109.01, Davidson, TN',
 'Unnamed: 468',
 'Census Tract 109.03, Davidson, TN',
 'Unnamed: 470',
 'Census Tract 109.04, Davidson, TN',
 'Unnamed: 472',
 'Census Tract 110.01, Davidson, TN',
 'Unnamed: 474',
 'Census Tract 110.02, Davidson, TN',
 'Unnamed: 476',
 'Census Tract 111, Davidson, TN',
 'Unnamed: 478',
 'Census Tract 112, Davidson, TN',
 'Unnamed: 480',
 'Census Tract 113, Davidson, TN',
 'Unnamed: 482',
 'Census Tract 114, Davidson, TN',
 'Unnamed: 484',
 'Census Tract 115, Davidson, TN',
 'Unnamed: 486',
 'Census Tract 116, Davidson, TN',
 'Unnamed: 488',
 'Census Tract 117, Davidson, TN',
 'Unnamed: 490',
 'Census Tract 118, Davidson, TN',
 'Unnamed: 492',
 'Census Tract 119, Davidson, TN',
 'Unnamed: 494',
 'Census Tract 121, Davidson, TN',
 'Unnamed: 496',
 'Census Tract 122, Davidson, TN',
 'Unnamed: 498',
 'Census Tract 126, Davidson, TN',
 'Unnamed: 500',
 'Census Tract 127.01, Davidson, TN',
 'Unnamed: 502',
 'Census Tract 127.02, Davidson, TN',
 'Unnamed: 504',
 'Census Tract 128.01, Davidson, TN',
 'Unnamed: 506',
 'Census Tract 128.02, Davidson, TN',
 'Unnamed: 508',
 'Census Tract 130.01, Davidson, TN',
 'Unnamed: 510',
 'Census Tract 130.02, Davidson, TN',
 'Unnamed: 512',
 'Census Tract 131, Davidson, TN',
 'Unnamed: 514',
 'Census Tract 132.01, Davidson, TN',
 'Unnamed: 516',
 'Census Tract 132.02, Davidson, TN',
 'Unnamed: 518',
 'Census Tract 133, Davidson, TN',
 'Unnamed: 520',
 'Census Tract 134, Davidson, TN',
 'Unnamed: 522',
 'Census Tract 135, Davidson, TN',
 'Unnamed: 524',
 'Census Tract 136, Davidson, TN',
 'Unnamed: 526',
 'Census Tract 137.01, Davidson, TN',
 'Unnamed: 528',
 'Census Tract 137.02, Davidson, TN',
 'Unnamed: 530',
 'Census Tract 138, Davidson, TN',
 'Unnamed: 532',
 'Census Tract 139, Davidson, TN',
 'Unnamed: 534',
 'Census Tract 142, Davidson, TN',
 'Unnamed: 536',
 'Census Tract 143, Davidson, TN',
 'Unnamed: 538',
 'Census Tract 144, Davidson, TN',
 'Unnamed: 540',
 'Census Tract 148, Davidson, TN',
 'Unnamed: 542',
 'Census Tract 151, Davidson, TN',
 'Unnamed: 544',
 'Census Tract 152, Davidson, TN',
 'Unnamed: 546',
 'Census Tract 153, Davidson, TN',
 'Unnamed: 548',
 'Census Tract 154.01, Davidson, TN',
 'Unnamed: 550',
 'Census Tract 154.02, Davidson, TN',
 'Unnamed: 552',
 'Census Tract 154.04, Davidson, TN',
 'Unnamed: 554',
 'Census Tract 154.05, Davidson, TN',
 'Unnamed: 556',
 'Census Tract 155.01, Davidson, TN',
 'Unnamed: 558',
 'Census Tract 155.02, Davidson, TN',
 'Unnamed: 560',
 'Census Tract 156.09, Davidson, TN',
 'Unnamed: 562',
 'Census Tract 156.13, Davidson, TN',
 'Unnamed: 564',
 'Census Tract 156.14, Davidson, TN',
 'Unnamed: 566',
 'Census Tract 156.15, Davidson, TN',
 'Unnamed: 568',
 'Census Tract 156.17, Davidson, TN',
 'Unnamed: 570',
 'Census Tract 156.18, Davidson, TN',
 'Unnamed: 572',
 'Census Tract 156.19, Davidson, TN',
 'Unnamed: 574',
 'Census Tract 156.20, Davidson, TN',
 'Unnamed: 576',
 'Census Tract 156.22, Davidson, TN',
 'Unnamed: 578',
 'Census Tract 156.23, Davidson, TN',
 'Unnamed: 580',
 'Census Tract 156.24, Davidson, TN',
 'Unnamed: 582',
 'Census Tract 156.25, Davidson, TN',
 'Unnamed: 584',
 'Census Tract 156.26, Davidson, TN',
 'Unnamed: 586',
 'Census Tract 156.27, Davidson, TN',
 'Unnamed: 588',
 'Census Tract 156.28, Davidson, TN',
 'Unnamed: 590',
 'Census Tract 156.29, Davidson, TN',
 'Unnamed: 592',
 'Census Tract 156.30, Davidson, TN',
 'Unnamed: 594',
 'Census Tract 156.32, Davidson, TN',
 'Unnamed: 596',
 'Census Tract 156.33, Davidson, TN',
 'Unnamed: 598',
 'Census Tract 156.34, Davidson, TN',
 'Unnamed: 600',
 'Census Tract 156.35, Davidson, TN',
 'Unnamed: 602',
 'Census Tract 156.36, Davidson, TN',
 'Unnamed: 604',
 'Census Tract 156.37, Davidson, TN',
 'Unnamed: 606',
 'Census Tract 157, Davidson, TN',
 'Unnamed: 608',
 'Census Tract 158.04, Davidson, TN',
 'Unnamed: 610',
 'Census Tract 158.05, Davidson, TN',
 'Unnamed: 612',
 'Census Tract 158.06, Davidson, TN',
 'Unnamed: 614',
 'Census Tract 159, Davidson, TN',
 'Unnamed: 616',
 'Census Tract 160, Davidson, TN',
 'Unnamed: 618',
 'Census Tract 161, Davidson, TN',
 'Unnamed: 620',
 'Census Tract 162, Davidson, TN',
 'Unnamed: 622',
 'Census Tract 163, Davidson, TN',
 'Unnamed: 624',
 'Census Tract 164, Davidson, TN',
 'Unnamed: 626',
 'Census Tract 165, Davidson, TN',
 'Unnamed: 628',
 'Census Tract 166, Davidson, TN',
 'Unnamed: 630',
 'Census Tract 167, Davidson, TN',
 'Unnamed: 632',
 'Census Tract 168, Davidson, TN',
 'Unnamed: 634',
 'Census Tract 169, Davidson, TN',
 'Unnamed: 636',
 'Census Tract 170, Davidson, TN',
 'Unnamed: 638',
 'Census Tract 171, Davidson, TN',
 'Unnamed: 640',
 'Census Tract 172, Davidson, TN',
 'Unnamed: 642',
 'Census Tract 173, Davidson, TN',
 'Unnamed: 644',
 'Census Tract 174.01, Davidson, TN',
 'Unnamed: 646',
 'Census Tract 174.02, Davidson, TN',
 'Unnamed: 648',
 'Census Tract 175, Davidson, TN',
 'Unnamed: 650',
 'Census Tract 177.01, Davidson, TN',
 'Unnamed: 652',
 'Census Tract 177.02, Davidson, TN',
 'Unnamed: 654',
 'Census Tract 178, Davidson, TN',
 'Unnamed: 656',
 'Census Tract 179.01, Davidson, TN',
 'Unnamed: 658',
 'Census Tract 179.02, Davidson, TN',
 'Unnamed: 660',
 'Census Tract 180, Davidson, TN',
 'Unnamed: 662',
 'Census Tract 181.01, Davidson, TN',
 'Unnamed: 664',
 'Census Tract 181.02, Davidson, TN',
 'Unnamed: 666',
 'Census Tract 182.01, Davidson, TN',
 'Unnamed: 668',
 'Census Tract 182.03, Davidson, TN',
 'Unnamed: 670',
 'Census Tract 182.04, Davidson, TN',
 'Unnamed: 672',
 'Census Tract 182.05, Davidson, TN',
 'Unnamed: 674',
 'Census Tract 183.02, Davidson, TN',
 'Unnamed: 676',
 'Census Tract 183.03, Davidson, TN',
 'Unnamed: 678',
 'Census Tract 183.04, Davidson, TN',
 'Unnamed: 680',
 'Census Tract 184.04, Davidson, TN',
 'Unnamed: 682',
 'Census Tract 184.05, Davidson, TN',
 'Unnamed: 684',
 'Census Tract 184.07, Davidson, TN',
 'Unnamed: 686',
 'Census Tract 184.08, Davidson, TN',
 'Unnamed: 688',
 'Census Tract 184.09, Davidson, TN',
 'Unnamed: 690',
 'Census Tract 184.10, Davidson, TN',
 'Unnamed: 692',
 'Census Tract 184.11, Davidson, TN',
 'Unnamed: 694',
 'Census Tract 184.12, Davidson, TN',
 'Unnamed: 696',
 'Census Tract 185, Davidson, TN',
 'Unnamed: 698',
 'Census Tract 186.01, Davidson, TN',
 'Unnamed: 700',
 'Census Tract 186.02, Davidson, TN',
 'Unnamed: 702',
 'Census Tract 187, Davidson, TN',
 'Unnamed: 704',
 'Census Tract 188.01, Davidson, TN',
 'Unnamed: 706',
 'Census Tract 188.03, Davidson, TN',
 'Unnamed: 708',
 'Census Tract 188.04, Davidson, TN',
 'Unnamed: 710',
 'Census Tract 189.01, Davidson, TN',
 'Unnamed: 712',
 'Census Tract 189.02, Davidson, TN',
 'Unnamed: 714',
 'Census Tract 189.04, Davidson, TN',
 'Unnamed: 716',
 'Census Tract 189.05, Davidson, TN',
 'Unnamed: 718',
 'Census Tract 190.03, Davidson, TN',
 'Unnamed: 720',
 'Census Tract 190.04, Davidson, TN',
 'Unnamed: 722',
 'Census Tract 190.07, Davidson, TN',
 'Unnamed: 724',
 'Census Tract 190.08, Davidson, TN',
 'Unnamed: 726',
 'Census Tract 191.05, Davidson, TN',
 'Unnamed: 728',
 'Census Tract 191.06, Davidson, TN',
 'Unnamed: 730',
 'Census Tract 191.08, Davidson, TN',
 'Unnamed: 732',
 'Census Tract 191.09, Davidson, TN',
 'Unnamed: 734',
 'Census Tract 191.10, Davidson, TN',
 'Unnamed: 736',
 'Census Tract 191.11, Davidson, TN',
 'Unnamed: 738',
 'Census Tract 191.12, Davidson, TN',
 'Unnamed: 740',
 'Census Tract 191.15, Davidson, TN',
 'Unnamed: 742',
 'Census Tract 191.16, Davidson, TN',
 'Unnamed: 744',
 'Census Tract 191.17, Davidson, TN',
 'Unnamed: 746',
 'Census Tract 191.18, Davidson, TN',
 'Unnamed: 748',
 'Census Tract 191.19, Davidson, TN',

Now dropping the `error` columns. I can go back and look at these later, but for now, just the values will do.

In [22]:
census_df_clean = census_df_clean[census_df_clean.columns.drop(list(census_df_clean.filter(regex='Unnamed')))]

In [23]:
# https://saturncloud.io/blog/how-to-remove-space-from-columns-in-pandas-a-data-scientists-guide/
# df.columns = df.columns.str.replace(' ', '')

census_df_clean.columns = census_df_clean.columns.str.replace('Census Tract', '')

In [24]:
census_df_clean.columns = census_df_clean.columns.str.replace(',', '')

In [25]:
census_df_clean.columns = census_df_clean.columns.str.replace('TN', '')

In [26]:
import re
a = 'lkdfhisoe78347834 (())&/&745  '
census_df_clean.columns = [re.sub('[^0-9.]','', column) for column in census_df_clean.columns]

In [27]:
census_df_clean.head()

,1,2,201,202.01,202.02,203,204,205,206,207,...,305,306,307,308,309.04,309.05,309.06,309.07,309.08,310
0,NaN,Value,Value,Value,Value,Value,Value,Value,Value,Value,...,Value,Value,Value,Value,Value,Value,Value,Value,Value,Value
1,Total:,2713635,1531,2029,1951,1567,1812,1615,926,586,...,3036,1678,1427,2533,1503,1925,1963,2513,3124,2365
2,"Less than $10,000",144639,156,93,235,25,104,133,13,22,...,94,82,235,80,91,38,0,109,133,159
3,"$10,000 to $14,999",122212,74,28,159,95,59,139,24,82,...,131,71,27,282,26,0,21,60,61,174
4,"$15,000 to $19,999",111419,41,26,7,56,88,94,3,34,...,223,53,112,93,30,0,17,59,46,124

In [28]:
census_df_clean = census_df_clean.rename(columns={'1':'header', '2':'tn_totals'})

In [29]:
census_df_clean.columns.values.tolist()

['header',
 'tn_totals',
 '201',
 '202.01',
 '202.02',
 '203',
 '204',
 '205',
 '206',
 '207',
 '208',
 '209.01',
 '209.02',
 '210.01',
 '210.02',
 '211',
 '212.01',
 '212.02',
 '213.01',
 '213.03',
 '213.04',
 '9801',
 '9501',
 '9502.01',
 '9502.02',
 '9503',
 '9504.01',
 '9504.02',
 '9505',
 '9506',
 '9507',
 '9508',
 '9630',
 '9631',
 '9632',
 '9633',
 '9634',
 '9530',
 '9531.01',
 '9531.02',
 '9532',
 '101',
 '102',
 '103.01',
 '103.02',
 '104',
 '105',
 '106',
 '107',
 '108',
 '109',
 '110.01',
 '110.02',
 '111.01',
 '111.02',
 '112.01',
 '112.02',
 '113.01',
 '113.02',
 '114.01',
 '114.03',
 '114.04',
 '115.01',
 '115.02',
 '115.03',
 '116.03',
 '116.04',
 '116.05',
 '116.06',
 '116.07',
 '9801',
 '9802',
 '101',
 '102.01',
 '102.02',
 '103',
 '104',
 '105',
 '106',
 '107',
 '108',
 '109',
 '110',
 '111.01',
 '111.02',
 '112.01',
 '112.03',
 '112.04',
 '113.01',
 '113.02',
 '114.02',
 '114.03',
 '114.04',
 '115.01',
 '115.02',
 '116.01',
 '116.02',
 '9501',
 '9502',
 '9503',
 '9504',
 '9505',
 '9506.01',
 '9506.02',
 '9507.01',
 '9507.02',
 '9508',
 '9509',
 '9510',
 '9511',
 '9601',
 '9602.01',
 '9602.02',
 '9603',
 '9620',
 '9621.01',
 '9621.02',
 '9622.01',
 '9622.02',
 '9623',
 '9624',
 '9625',
 '9801',
 '701',
 '702',
 '703',
 '704',
 '705',
 '706',
 '707',
 '708',
 '709',
 '710',
 '711',
 '712',
 '713.01',
 '713.02',
 '714',
 '715',
 '716',
 '717',
 '701.02',
 '701.03',
 '701.04',
 '702.01',
 '702.02',
 '702.03',
 '703',
 '704.01',
 '704.02',
 '9701.01',
 '9701.02',
 '9702',
 '9703.01',
 '9703.02',
 '9701',
 '9702',
 '9703',
 '9704',
 '9705',
 '9706',
 '9707',
 '9708',
 '9709',
 '9550',
 '9551',
 '9201',
 '9202',
 '9203',
 '9204',
 '9205.01',
 '9205.02',
 '9206',
 '9207',
 '9801',
 '9701',
 '9702.01',
 '9702.02',
 '9703',
 '9704.01',
 '9704.02',
 '9705.01',
 '9705.02',
 '9706',
 '9707',
 '9708.01',
 '9708.03',
 '9708.04',
 '9709',
 '9710.01',
 '9710.02',
 '9801',
 '9610',
 '9611',
 '9612',
 '9613',
 '9614',
 '9701.01',
 '9701.03',
 '9701.04',
 '9702.01',
 '9702.02',
 '9703.01',
 '9703.02',
 '9704.01',
 '9704.02',
 '9705.01',
 '9705.02',
 '9706.01',
 '9706.02',
 '9706.03',
 '9707.01',
 '9707.02',
 '9708',
 '101.03',
 '101.04',
 '101.05',
 '101.06',
 '102.01',
 '102.02',
 '103.01',
 '103.02',
 '103.03',
 '104.01',
 '104.03',
 '104.04',
 '105.01',
 '105.02',
 '106.01',
 '106.02',
 '107.01',
 '107.02',
 '108.01',
 '108.02',
 '109.01',
 '109.03',
 '109.04',
 '110.01',
 '110.02',
 '111',
 '112',
 '113',
 '114',
 '115',
 '116',
 '117',
 '118',
 '119',
 '121',
 '122',
 '126',
 '127.01',
 '127.02',
 '128.01',
 '128.02',
 '130.01',
 '130.02',
 '131',
 '132.01',
 '132.02',
 '133',
 '134',
 '135',
 '136',
 '137.01',
 '137.02',
 '138',
 '139',
 '142',
 '143',
 '144',
 '148',
 '151',
 '152',
 '153',
 '154.01',
 '154.02',
 '154.04',
 '154.05',
 '155.01',
 '155.02',
 '156.09',
 '156.13',
 '156.14',
 '156.15',
 '156.17',
 '156.18',
 '156.19',
 '156.20',
 '156.22',
 '156.23',
 '156.24',
 '156.25',
 '156.26',
 '156.27',
 '156.28',
 '156.29',
 '156.30',
 '156.32',
 '156.33',
 '156.34',
 '156.35',
 '156.36',
 '156.37',
 '157',
 '158.04',
 '158.05',
 '158.06',
 '159',
 '160',
 '161',
 '162',
 '163',
 '164',
 '165',
 '166',
 '167',
 '168',
 '169',
 '170',
 '171',
 '172',
 '173',
 '174.01',
 '174.02',
 '175',
 '177.01',
 '177.02',
 '178',
 '179.01',
 '179.02',
 '180',
 '181.01',
 '181.02',
 '182.01',
 '182.03',
 '182.04',
 '182.05',
 '183.02',
 '183.03',
 '183.04',
 '184.04',
 '184.05',
 '184.07',
 '184.08',
 '184.09',
 '184.10',
 '184.11',
 '184.12',
 '185',
 '186.01',
 '186.02',
 '187',
 '188.01',
 '188.03',
 '188.04',
 '189.01',
 '189.02',
 '189.04',
 '189.05',
 '190.03',
 '190.04',
 '190.07',
 '190.08',
 '191.05',
 '191.06',
 '191.08',
 '191.09',
 '191.10',
 '191.11',
 '191.12',
 '191.15',
 '191.16',
 '191.17',
 '191.18',
 '191.19',
 '191.20',
 '191.21',
 '192',
 '193',
 '194.01',
 '194.02',
 '195.01',
 '195.02',
 '195.03',
 '196',
 '9801',
 '9802',
 '9550.01',
 '9550.03',
 '9550.04',
 '9551.01',
 '9551.02',
 '9201.01',
 '9201.02',
 '9202.01',
 '9202.02',
 '9203',
 '601',
 '602.01',
 '602.02',
 '603',
 '604.01',
 '604.02',
 '605.01',
 '605.02',
 '606.01',
 '606.02',
 '607',
 '9640.01',
 '9640.02',
 '9642',
 '9643',
 '9644.01',
 '9644.02',
 '9645',
 '9646',
 '9648',
 '9649',
 '603',
 '604.01',
 '604.02',
 '604.03',
 '604.04',
 '605.01',
 '605.02',
 '606',
 '607.01',
 '607.02',
 '608',
 '9650',
 '9651',
 '9652.01',
 '9652.02',
 '9653',
 '9601',
 '9602.01',
 '9602.02',
 '9603',
 '9604.01',
 '9604.02',
 '9605',
 '9606',
 '9607',
 '9608',
 '9661',
 '9662',
 '9663',
 '9664',
 '9665.01',
 '9665.02',
 '9666',
 '9667.01',
 '9667.02',
 '9668',
 '9669',
 '9670.01',
 '9670.02',
 '9671',
 '9673',
 '9674',
 '9801',
 '9201',
 '9202',
 '9203.01',
 '9203.02',
 '9204',
 '9205',
 '9206',
 '9207',
 '9208',
 '5001',
 '5002',
 '5003.01',
 '5003.02',
 '5004.01',
 '5004.02',
 '901',
 '902',
 '903',
 '904',
 '905.01',
 '905.02',
 '906',
 '907',
 '908',
 '909',
 '910.01',
 '910.02',
 '911',
 '912',
 '913',
 '914',
 '915',
 '9550',
 '9551',
 '9552',
 '9553',
 '1001',
 '1002',
 '1003',
 '1004',
 '1005',
 '1006',
 '1007',
 '1008',
 '1009',
 '1010',
 '1011',
 '1012',
 '4',
 '6',
 '7',
 '8',
 '11',
 '12',
 '13',
 '14',
 '16',
 '18',
 '19',
 '20',
 '23',
 '24',
 '25',
 '26',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34',
 '101.01',
 '101.03',
 '101.04',
 '102.01',
 '102.02',
 '103.03',
 '103.04',
 '103.05',
 '103.06',
 '103.08',
 '103.09',
 '104.11',
 '104.12',
 '104.13',
 '104.31',
 '104.32',
 '104.33',
 '104.34',
 '104.35',
 '105.01',
 '105.02',
 '106',
 '107',
 '108',
 '109.01',
 '109.02',
 '109.04',
 '109.05',
 '110.01',
 '110.03',
 '110.04',
 '111',
 '112.03',
 '112.04',
 '112.05',
 '112.06',
 '113.11',
 '113.14',
 '113.21',
 '113.23',
 '113.24',
 '113.25',
 '113.26',
 '114.02',
 '114.11',
 '114.13',
 '114.42',
 '114.44',
 '114.45',
 '114.46',
 '114.47',
 '114.48',
 '114.49',
 '116',
 '117',
 '118',
 '119',
 '120',
 '121',
 '122',
 '123',
 '124',
 '9801',
 '9802',
 '9605',
 '9606',
 '9501',
 '9502',
 '9503',
 '9504',
 '9505',
 '9506',
 '9201',
 '9202',
 '9203',
 '9204.01',
 '9204.02',
 '9205.01',
 '9205.02',
 '9206',
 '501',
 '502',
 '503.01',
 '503.02',
 '504',
 '505.01',
 '505.02',
 '505.03',
 '506.01',
 '506.02',
 '507',
 '508',
 '509',
 '9301',
 '9302',
 '9303.01',
 '9303.02',
 '9304',
 '9305',
 '9750',
 '9751',
 '9752',
 '9753.01',
 '9753.02',
 '9754',
 '9755',
 '9690.01',
 '9690.02',
 '9691',
 '9692',
 '9693',
 '9694',
 '9695.01',
 '9695.02',
 '9696.01',
 '9696.02',
 '9697',
 '9698',
 '9501',
 '9502.01',
 '9502.02',
 '9503.01',
 '9503.02',
 '9504',
 '9505',
 '1201',
 '1202',
 '1203',
 '1301',
 '1302',
 '1303',
 '1304',
 '1305',
 '9601',
 '9602',
 '9603',
 '9604',
 '701.01',
 '701.02',
 '702',
 '703',
 '704',
 '705',
 '706',
 '707.01',
 '707.02',
 '708.01',
 '708.02',
 '709',
 '9560',
 '9561',
 '9562',
 '9563',
 '9564',
 'header',
 '8',
 '9.01',
 '9.02',
 '14',
 '15',
 '16',
 '17',
 '18',
 '19',
 '20',
 '21',
 '22',
 '23',
 '24',
 '26',
 '27',
 '28',
 '29',
 '30',
 '31',
 '32',
 '33',
 '34',
 '35.01',
 '35.02',
 '37',
 '38.01',
 '38.02',
 '39.01',
 '39.02',
 '40',
 '41',
 '42',
 '43',
 '44.01',
 '44.03',
 '44.04',
 '45.01',
 '45.02',
 '46.06',
 '46.07',
 '46.08',
 '46.09',
 '46.10',
 '46.11',
 '46.12',
 '46.13',
 '46.14',
 '46.15',
 '47',
 '48',
 '49',
 '50',
 '51',
 '52.02',
 '52.03',
 '52.04',
 '53.01',
 '53.02',
 '54.01',
 '54.02',
 '55.01',
 '55.02',
 '56.02',
 '56.03',
 '56.04',
 '57.01',
 '57.04',
 '57.06',
 '57.07',
 '57.08',
 '57.09',
 '57.10',
 '57.11',
 '57.13',
 '57.14',
 '58.03',
 '58.07',
 '58.08',
 '58.09',
 '58.10',
 '58.11',
 '58.13',
 '58.14',
 '58.15',
 '59.03',
 '59.06',
 '59.07',
 '59.08',
 '59.09',
 '59.10',
 '59.11',
 '59.12',
 '60.01',
 '60.02',
 '60.03',
 '61.02',
 '61.03',
 '61.04',
 '62.02',
 '62.03',
 '62.05',
 '62.06',
 '62.07',
 '62.08',
 '63.01',
 '63.02',
 '64.01',
 '64.02',
 '64.03',
 '65.01',
 '65.02',
 '66',
 '67',
 '68',
 '69.01',
 '69.02',
 '69.03',
 '70',
 '71',
 '9601',
 '9602',
 '501',
 '502',
 '503',
 '504',
 '505.03',
 '505.04',
 '505.05',
 '505.06',
 '506',
 '9601',
 '9602',
 '9603',
 '9604.01',
 '9604.02',
 '9605.01',
 '9605.02',
 '9606',
 '9607',
 '9608',
 '9609',
 '9701',
 '9702',
 '9750',
 '9751',
 '9752',
 '9753',
 '9754',
 '9755',
 '9756.01',
 '9756.02',
 '9757',
 '601',
 '602.01',
 '602.03',
 '602.04',
 '603.01',
 '603.03',
 '603.04',
 '604',
 '605.02',
 '605.03',
 '605.04',
 '605.05',
 '606',
 '607',
 '9701.02',
 '9701.03',
 '9701.04',
 '9702.01',
 '9702.02',
 '9703',
 '9704.01',
 '9704.02',
 '9705',
 '9706.01',
 '9706.02',
 '9707',
 '9708.01',
 '9708.02',
 '9301',
 '9302',
 '9303',
 '9304',
 '9305.01',
 '9305.02',
 '9306',
 '9307',
 '9701',
 '9702',
 '9703.01',
 '9703.02',
 '9704',
 'header',
 'tn_totals',
 '3',
 '4',
 '5',
 '6',
 '7',
 '8',
 '9',
 '10',
 '11',
 '13',
 '14.01',
 '14.02',
 '15.01',
 '15.02',
 '16.03',
 '16.04',
 '16.05',
 '16.07',
 '16.08',
 '16.09',
 '16.10',
 '16.11',
 '16.12',
 '17',
 '18',
 '19',
 '501.01',
 '501.02',
 '502.01',
 '502.03',
 '502.04',
 '503.01',
 '503.02',
 '9550',
 '9551',
 '9552',
 '9553',
 '9554',
 '9555',
 '101',
 '102.01',
 '102.03',
 '102.04',
 '102.05',
 '103.01',
 '103.02',
 '104.01',
 '104.02',
 '105',
 '106',
 '107',
 '108.01',
 '108.02',
 '109',
 '110.01',
 '110.03',
 '110.04',
 '111.01',
 '111.02',
 '112',
 '9601',
 '9602',
 '9603',
 '9250.01',
 '9250.02',
 '9251.01',
 '9251.02',
 '9252',
 '9253.01',
 '9253.02',
 '9254.01',
 '9254.02',
 '9255.01',
 '9255.03',
 '9255.04',
 '1001',
 '1002',
 '1003',
 '1005',
 '1006.01',
 '1006.02',
 '1008',
 '1009',
 '1010.01',
 '1010.02',
 '1011.01',
 '1011.02',
 '1011.03',
 '1012.01',
 '1012.02',
 '1013.04',
 '1013.05',
 '1013.06',
 '1013.07',
 '1013.08',
 '1013.09',
 '1014',
 '1015.01',
 '1015.02',
 '1016',
 '1017.01',
 '1017.02',
 '1018.03',
 '1018.05',
 '1018.06',
 '1018.07',
 '1018.08',
 '1019.02',
 '1019.04',
 '1019.05',
 '1019.06',
 '1020.01',
 '1020.03',
 '1020.04',
 '1020.05',
 '1020.07',
 ...]

In [30]:
census_df_clean.head()

,header,tn_totals,201,202.01,202.02,203,204,205,206,207,...,305,306,307,308,309.04,309.05,309.06,309.07,309.08,310
0,NaN,Value,Value,Value,Value,Value,Value,Value,Value,Value,...,Value,Value,Value,Value,Value,Value,Value,Value,Value,Value
1,Total:,2713635,1531,2029,1951,1567,1812,1615,926,586,...,3036,1678,1427,2533,1503,1925,1963,2513,3124,2365
2,"Less than $10,000",144639,156,93,235,25,104,133,13,22,...,94,82,235,80,91,38,0,109,133,159
3,"$10,000 to $14,999",122212,74,28,159,95,59,139,24,82,...,131,71,27,282,26,0,21,60,61,174
4,"$15,000 to $19,999",111419,41,26,7,56,88,94,3,34,...,223,53,112,93,30,0,17,59,46,124

In [31]:
census_df_clean = census_df_clean.iloc[1:,:]

In [32]:
census_df_clean.head()

,header,tn_totals,201,202.01,202.02,203,204,205,206,207,...,305,306,307,308,309.04,309.05,309.06,309.07,309.08,310
1,Total:,2713635,1531,2029,1951,1567,1812,1615,926,586,...,3036,1678,1427,2533,1503,1925,1963,2513,3124,2365
2,"Less than $10,000",144639,156,93,235,25,104,133,13,22,...,94,82,235,80,91,38,0,109,133,159
3,"$10,000 to $14,999",122212,74,28,159,95,59,139,24,82,...,131,71,27,282,26,0,21,60,61,174
4,"$15,000 to $19,999",111419,41,26,7,56,88,94,3,34,...,223,53,112,93,30,0,17,59,46,124
5,"$20,000 to $24,999",115858,50,74,13,30,40,44,44,58,...,184,70,160,72,0,36,28,30,0,39

In [33]:
census_df_clean_test = census_df_clean.transpose().reset_index()
census_df_clean_test.head()

,index,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17
0,header,Total:,"Less than $10,000","$10,000 to $14,999","$15,000 to $19,999","$20,000 to $24,999","$25,000 to $29,999","$30,000 to $34,999","$35,000 to $39,999","$40,000 to $44,999","$45,000 to $49,999","$50,000 to $59,999","$60,000 to $74,999","$75,000 to $99,999","$100,000 to $124,999","$125,000 to $149,999","$150,000 to $199,999","$200,000 or more"
1,tn_totals,2713635,144639,122212,111419,115858,114639,115755,118563,112751,114744,211329,267360,357378,257232,169567,182209,197980
2,201,1531,156,74,41,50,106,31,262,154,52,168,138,101,125,16,46,11
3,202.01,2029,93,28,26,74,24,0,54,89,86,151,219,124,242,195,256,368
4,202.02,1951,235,159,7,13,101,48,40,33,140,74,257,164,134,129,295,122

In [34]:
census_df_clean_test.columns = census_df_clean_test.iloc[0]
census_df_clean_test.head()

,header,Total:,"Less than $10,000","$10,000 to $14,999","$15,000 to $19,999","$20,000 to $24,999","$25,000 to $29,999","$30,000 to $34,999","$35,000 to $39,999","$40,000 to $44,999","$45,000 to $49,999","$50,000 to $59,999","$60,000 to $74,999","$75,000 to $99,999","$100,000 to $124,999","$125,000 to $149,999","$150,000 to $199,999","$200,000 or more"
0,header,Total:,"Less than $10,000","$10,000 to $14,999","$15,000 to $19,999","$20,000 to $24,999","$25,000 to $29,999","$30,000 to $34,999","$35,000 to $39,999","$40,000 to $44,999","$45,000 to $49,999","$50,000 to $59,999","$60,000 to $74,999","$75,000 to $99,999","$100,000 to $124,999","$125,000 to $149,999","$150,000 to $199,999","$200,000 or more"
1,tn_totals,2713635,144639,122212,111419,115858,114639,115755,118563,112751,114744,211329,267360,357378,257232,169567,182209,197980
2,201,1531,156,74,41,50,106,31,262,154,52,168,138,101,125,16,46,11
3,202.01,2029,93,28,26,74,24,0,54,89,86,151,219,124,242,195,256,368
4,202.02,1951,235,159,7,13,101,48,40,33,140,74,257,164,134,129,295,122

In [35]:
census_df_clean_test = census_df_clean_test.iloc[1:,:]
census_df_clean_test.head()

,header,Total:,"Less than $10,000","$10,000 to $14,999","$15,000 to $19,999","$20,000 to $24,999","$25,000 to $29,999","$30,000 to $34,999","$35,000 to $39,999","$40,000 to $44,999","$45,000 to $49,999","$50,000 to $59,999","$60,000 to $74,999","$75,000 to $99,999","$100,000 to $124,999","$125,000 to $149,999","$150,000 to $199,999","$200,000 or more"
1,tn_totals,2713635,144639,122212,111419,115858,114639,115755,118563,112751,114744,211329,267360,357378,257232,169567,182209,197980
2,201,1531,156,74,41,50,106,31,262,154,52,168,138,101,125,16,46,11
3,202.01,2029,93,28,26,74,24,0,54,89,86,151,219,124,242,195,256,368
4,202.02,1951,235,159,7,13,101,48,40,33,140,74,257,164,134,129,295,122
5,203,1567,25,95,56,30,84,65,74,46,53,173,170,280,174,106,93,43

In [36]:
census_df_clean_test.columns.values.tolist()

['header',
 'Total:',
 'Less than $10,000',
 '$10,000 to $14,999',
 '$15,000 to $19,999',
 '$20,000 to $24,999',
 '$25,000 to $29,999',
 '$30,000 to $34,999',
 '$35,000 to $39,999',
 '$40,000 to $44,999',
 '$45,000 to $49,999',
 '$50,000 to $59,999',
 '$60,000 to $74,999',
 '$75,000 to $99,999',
 '$100,000 to $124,999',
 '$125,000 to $149,999',
 '$150,000 to $199,999',
 '$200,000 or more']

In [37]:
census_df_clean = census_df_clean_test.rename(columns={'header': 'census_tract', 'Total:': 'total'})
census_df_clean.head()
# census_df_clean = census_df_clean.rename(columns={list(census_df_clean)[1]: 'value'}, inplace=True)
# drugInfo.rename(columns = {list(drugInfo)[1]: 'col_1_new_name'}, inplace = True)
# https://stackoverflow.com/questions/26336251/rename-a-single-pandas-dataframe-column-without-knowing-column-name
# , 2: 'less_than_10k', 3: '10_to_14.999k',4: '15_to_19.999k',5:'20_to_24.999k',6:'25_to_29.999k',7:'30_to_34.999k',8:'35_to_39.999k',9:'40_to_44.999k',10:'45_to_49.999k',11:'50_to_59.999k',12:'60_to_74.999k', 13:'75_to_99.999k',14:'100_to_124.999k',15:'125_to_149.999k',16:'150_to_199.999k',17:'200k_or_more'

,census_tract,total,"Less than $10,000","$10,000 to $14,999","$15,000 to $19,999","$20,000 to $24,999","$25,000 to $29,999","$30,000 to $34,999","$35,000 to $39,999","$40,000 to $44,999","$45,000 to $49,999","$50,000 to $59,999","$60,000 to $74,999","$75,000 to $99,999","$100,000 to $124,999","$125,000 to $149,999","$150,000 to $199,999","$200,000 or more"
1,tn_totals,2713635,144639,122212,111419,115858,114639,115755,118563,112751,114744,211329,267360,357378,257232,169567,182209,197980
2,201,1531,156,74,41,50,106,31,262,154,52,168,138,101,125,16,46,11
3,202.01,2029,93,28,26,74,24,0,54,89,86,151,219,124,242,195,256,368
4,202.02,1951,235,159,7,13,101,48,40,33,140,74,257,164,134,129,295,122
5,203,1567,25,95,56,30,84,65,74,46,53,173,170,280,174,106,93,43

In [38]:
# census_df_clean.to_csv('census_data_clean.csv', index=False)

In [39]:
# census_df_clean.head()

In [40]:
# census_income_df_clean.columns.values.tolist()

In [41]:
# Use DataFrame.columns.values.tolist() to retrieve a list of columns from the DataFrame header.
# https://www.boardinfinity.com/blog/how-to-get-column-names-in-pandas
# census_income_df_clean.columns.values.tolist()

In [42]:
# census_income_df_cleaner.head()

In [43]:
# https://stackoverflow.com/questions/13682044/remove-unwanted-parts-from-strings-in-a-column
# data['result'] = data['result'].map(lambda x: x.lstrip('+-').rstrip('aAbBcC'))

# census_income_df_cleaner['CT_1'] = census_income_df_cleaner['census_tract'].rstrip()