Importing packages

In [ ]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import numpy as np

Importing food access dataset

In [ ]:
food_access_df = pd.read_csv('../data/food_access.csv')

Checking head/info

// TO DO: Isolate just the TN data from `food_access_df` and read into a new dataframe.

In [ ]:
food_access_df.head()

Filtering `food_access_df` into new DataFrame with just the TN entries.

In [ ]:
tn_food_access_df = food_access_df[food_access_df['State']=='Tennessee']

In [ ]:
tn_food_access_df.info()

Attempting to edit the `CensusTract` column to match Census tract numbers from `census_income_df`

First checking dtypes and then creating a new `CensusTract_Formatted` column, converting the int64 dtype in `CensusTract` into an object/string.

In [ ]:
tn_food_access_df.dtypes

In [ ]:
tn_food_access_df['CensusTract_Formatted'] = tn_food_access_df['CensusTract'].astype(str)

In [ ]:
# d['Report Number'] = d['Report Number'].str[3:]
tn_food_access_df['CensusTract_Formatted2'] = tn_food_access_df['CensusTract_Formatted'].str[6:]

Creating a new column each time just in case my methods don't work, but also going back to delete unneeded columns. Will rename to `CensusTract_Formatted` once I get the column I need.

In [ ]:
del tn_food_access_df['CensusTract_Formatted']

I probably need to use a lambda argument to insert the decimal point into the existing numbers. This is from Free Code Camp:

lambda argument(s) : expression


1. lambda is a keyword in Python for defining the anonymous function.
2. argument(s) is a placeholder, that is a variable that will be used to hold the value you want to pass into the function expression. A lambda function can have multiple variables depending on what you want to achieve.
3. expression is the code you want to execute in the lambda function.

https://www.freecodecamp.org/news/python-lambda-function-explained/

In [ ]:
tn_food_access_df['CensusTract_Formatted3'] = tn_food_access_df['CensusTract_Formatted2'].apply(lambda x: x[:3] + '.' + x[3:])

It worked! I can delete the extra CT formatted column and rename #3 to the most current.

In [ ]:
del tn_food_access_df['CensusTract_Formatted2']

In [ ]:
# rename column 'A' to 'X'
# df = df.rename(columns={'A': 'X'})

tn_food_access_df = tn_food_access_df.rename(columns={'CensusTract':'CT_Old','CensusTract_Formatted3':'CT_Clean'})

In [ ]:
tn_food_access_df.head()

In [ ]:
# https://www.freecodecamp.org/news/dataframe-to-csv-how-to-save-pandas-dataframes-by-exporting/#:~:text=df%20%3D%20pd.DataFrame(Biodata)%20%3A%20This%20creates%20a,CSV%20file%20named%20Biodata.csv%20.
# df.to_csv('Biodata.csv', index=False)

# tn_food_access_df.to_csv('tn_food_access.csv', index=False)

In [ ]:
# df.to_csv('Biodata.csv', index=False)

******************************************************************************************************

### Census dataset

Reading in Census dataset and checking head/info. This will need to be cleaned and transformed!

In [ ]:
census_df = pd.read_excel('../data/census_tn_income_b19001.xlsx')

In [ ]:
census_df.info()

In [ ]:
census_df.head()

Renaming the first column so it doesn't get dropped with the rest of the 'unnamed' columns.

In [ ]:
census_df_clean = census_df.rename(columns={'Unnamed: 0':'1', 'Tennessee':'2'}) # census_tract will the the right label once the data is transposed
census_df_clean.head()

In [ ]:
census_df_clean.columns.values.tolist()

Now dropping the `error` columns. I can go back and look at these later, but for now, just the values will do.

In [ ]:
census_df_clean = census_df_clean[census_df_clean.columns.drop(list(census_df_clean.filter(regex='Unnamed')))]

In [ ]:
# https://saturncloud.io/blog/how-to-remove-space-from-columns-in-pandas-a-data-scientists-guide/
# df.columns = df.columns.str.replace(' ', '')

census_df_clean.columns = census_df_clean.columns.str.replace('Census Tract', '')

In [ ]:
census_df_clean.columns = census_df_clean.columns.str.replace(',', '')

In [ ]:
census_df_clean.columns = census_df_clean.columns.str.replace('TN', '')

In [ ]:
import re
a = 'lkdfhisoe78347834 (())&/&745  '
census_df_clean.columns = [re.sub('[^0-9.]','', column) for column in census_df_clean.columns]

In [ ]:
census_df_clean.head()

In [ ]:
census_df_clean = census_df_clean.rename(columns={'1':'header', '2':'tn_totals'})

In [ ]:
census_df_clean.columns.values.tolist()

In [ ]:
census_df_clean.head()

In [ ]:
census_df_clean = census_df_clean.iloc[1:,:]

In [ ]:
census_df_clean.head()

In [ ]:
census_df_clean_test = census_df_clean.transpose().reset_index()
census_df_clean_test.head()

In [ ]:
census_df_clean_test.columns = census_df_clean_test.iloc[0]
census_df_clean_test.head()

In [ ]:
census_df_clean_test = census_df_clean_test.iloc[1:,:]
census_df_clean_test.head()

In [ ]:
census_df_clean_test.columns.values.tolist()

In [ ]:
census_df_clean = census_df_clean_test.rename(columns={'header': 'census_tract', 'Total:': 'total'})
census_df_clean.head()
# census_df_clean = census_df_clean.rename(columns={list(census_df_clean)[1]: 'value'}, inplace=True)
# drugInfo.rename(columns = {list(drugInfo)[1]: 'col_1_new_name'}, inplace = True)
# https://stackoverflow.com/questions/26336251/rename-a-single-pandas-dataframe-column-without-knowing-column-name
# , 2: 'less_than_10k', 3: '10_to_14.999k',4: '15_to_19.999k',5:'20_to_24.999k',6:'25_to_29.999k',7:'30_to_34.999k',8:'35_to_39.999k',9:'40_to_44.999k',10:'45_to_49.999k',11:'50_to_59.999k',12:'60_to_74.999k', 13:'75_to_99.999k',14:'100_to_124.999k',15:'125_to_149.999k',16:'150_to_199.999k',17:'200k_or_more'

In [ ]:
# census_df_clean.to_csv('census_data_clean.csv', index=False)

In [ ]:
# census_df_clean.head()

In [ ]:
# census_income_df_clean.columns.values.tolist()

In [ ]:
# Use DataFrame.columns.values.tolist() to retrieve a list of columns from the DataFrame header.
# https://www.boardinfinity.com/blog/how-to-get-column-names-in-pandas
# census_income_df_clean.columns.values.tolist()

In [ ]:
# census_income_df_cleaner.head()

In [ ]:
# https://stackoverflow.com/questions/13682044/remove-unwanted-parts-from-strings-in-a-column
# data['result'] = data['result'].map(lambda x: x.lstrip('+-').rstrip('aAbBcC'))

# census_income_df_cleaner['CT_1'] = census_income_df_cleaner['census_tract'].rstrip()