In [1]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import numpy as np

In [2]:
tn_food_access_df = pd.read_csv('../data/tn_food_access.csv')

In [3]:
tn_food_access_df = tn_food_access_df.drop('CT_Old', axis=1)
tn_food_access_df = tn_food_access_df.drop('State', axis=1)

In [4]:
tn_food_access_df = tn_food_access_df.replace(r'^\s*$', np.nan, regex=True)

In [5]:
# tn_food_access_df_fillna.to_csv('tn_food_access_nan.csv')

In [6]:
tn_food_access_df.head()

,CT_Clean,County,Urban,Pop2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,LILATracts_halfAnd10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
0,201.00,Anderson County,1,3111,1546,0,6,0.19,0,1,...,384,1969,853,130,2,9,148,145,206,438
1,202.01,Anderson County,1,3670,1535,0,103,2.81,0,0,...,658,3158,144,256,0,6,106,84,49,31
2,202.02,Anderson County,1,4507,2025,0,230,5.10,0,0,...,1364,3988,194,128,0,18,179,214,174,208
3,203.00,Anderson County,1,3822,1656,0,0,0.00,0,0,...,640,3290,278,20,3,18,213,179,53,109
4,204.00,Anderson County,1,4508,2013,0,106,2.35,1,1,...,761,3855,264,34,3,20,332,277,86,406

Pulling average, median, maximum and minimum population values. 

The average exceeds median population in Tennessee by about 200 people.

In [7]:
tn_food_access_df['Pop2010'].mean()

4261.991269308261

In [8]:
tn_food_access_df['Pop2010'].median()

4059.0

Maximum population in any census tract is 21,763 people in CT 501.01 Williamson County.

Williamson County is just south of Nashville and includes Franklin, TN.

In [17]:
# https://stackoverflow.com/questions/71828530/printing-the-whole-row-of-my-data-from-a-max-value-in-a-column
tn_food_access_df[tn_food_access_df['Pop2010'].iloc[:]==tn_food_access_df['Pop2010'].iloc[:].max()]

,CT_Clean,County,Urban,Pop2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,LILATracts_halfAnd10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
1467,512.02,Williamson County,1,21763,6999,0,0,0.0,0,0,...,869,19606,990,363,38,40,726,1217,58,150

Pulling minimum population, I'm seeing two lines that appear to have the same census tract number. 

Sevier County and Hamilton County are hours apart by car, so assuming this is some kind of database error.

* Sevier County is east and slightly south of Knoxville and includes Gatlinburg.

* Hamilton County is in southeast Tennessee and includes Chattanooga.

In [18]:
tn_food_access_df[tn_food_access_df['Pop2010'].iloc[:]==tn_food_access_df['Pop2010'].iloc[:].min()]

,CT_Clean,County,Urban,Pop2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,LILATracts_halfAnd10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
529,801.0,Hamilton County,1,1,1,0,0,0.0,0,0,...,0,1,0,0,0,0,0,0,0,0
1043,801.0,Sevier County,0,1,1,0,0,0.0,0,0,...,0,1,0,0,0,0,0,0,0,0