### Census Tract Issue - USDA Food Access Research Atlas (Tennessee data only)

In [51]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import numpy as np

Importing both datasets

In [52]:
tn_food_access_df = pd.read_csv('../data/tn_food_access.csv')

In [63]:
census_df = pd.read_excel('../data/census_tn_income_b19001.xlsx')

In [53]:
tn_food_access_df = tn_food_access_df.drop('State', axis=1)

In [54]:
# I need to see if this is doing something constructive with the data, or anything at all, before running:
# tn_food_access_df = tn_food_access_df.replace(r'^\s*$', np.nan, regex=True)

In [55]:
# tn_food_access_df_fillna.to_csv('tn_food_access_nan.csv')

Getting a general sense of the way census tracts operate in the two datasets ...

In [56]:
tn_food_access_df.head()

,CT_Old,CT_Clean,County,Urban,Pop2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
0,47001020100,201.00,Anderson County,1,3111,1546,0,6,0.19,0,...,384,1969,853,130,2,9,148,145,206,438
1,47001020201,202.01,Anderson County,1,3670,1535,0,103,2.81,0,...,658,3158,144,256,0,6,106,84,49,31
2,47001020202,202.02,Anderson County,1,4507,2025,0,230,5.10,0,...,1364,3988,194,128,0,18,179,214,174,208
3,47001020300,203.00,Anderson County,1,3822,1656,0,0,0.00,0,...,640,3290,278,20,3,18,213,179,53,109
4,47001020400,204.00,Anderson County,1,4508,2013,0,106,2.35,1,...,761,3855,264,34,3,20,332,277,86,406

In [57]:
tn_food_access_df['CT_Clean'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1489 entries, 0 to 1488
Series name: CT_Clean
Non-Null Count  Dtype
--------------  -----
1489 non-null   float64
dtypes: float64(1)
memory usage: 11.8 KB

993 unique entries for census tract, yet 1,489 total? Need to look into this as a top priority.

In [58]:
tn_food_access_df['CT_Clean'].nunique()

993

In [59]:
# https://saturncloud.io/blog/how-to-check-for-duplicate-values-in-pandas-dataframe-column/#:~:text=To%20check%20for%20duplicate%20values%20in%20a%20Pandas%20DataFrame%20column,is%20a%20duplicate%20or%20not.
# duplicate_values = df['Product'].duplicated()
# print(duplicate_values)

duplicate_CTs = tn_food_access_df['CT_Clean'].duplicated()
duplicate_CTs_to_csv = pd.DataFrame(duplicate_CTs)
# duplicate_CTs_to_csv.to_csv('duplicate_CTs.csv')

ISSUE: converting the census tract numbers to match the census reporter data did not work and created duplicate census tract IDs in about 1/3 of the data. I will probably need to go back and change some things but need some help troubleshooting and figuring out where to start/what's needed.

In [60]:
tn_food_access_df['CT_Old'].info()

<class 'pandas.core.series.Series'>
RangeIndex: 1489 entries, 0 to 1488
Series name: CT_Old
Non-Null Count  Dtype
--------------  -----
1489 non-null   int64
dtypes: int64(1)
memory usage: 11.8 KB

In [61]:
tn_food_access_df['CT_Old'].nunique()

1489

#### Origin of issue discovery:

Pulling minimum population, I'm seeing two lines that appear to have the same census tract number.

In [62]:
tn_food_access_df[tn_food_access_df['Pop2010'].iloc[:]==tn_food_access_df['Pop2010'].iloc[:].min()]

,CT_Old,CT_Clean,County,Urban,Pop2010,OHU2010,GroupQuartersFlag,NUMGQTRS,PCTGQTRS,LILATracts_1And10,...,TractSeniors,TractWhite,TractBlack,TractAsian,TractNHOPI,TractAIAN,TractOMultir,TractHispanic,TractHUNV,TractSNAP
529,47065980100,801.0,Hamilton County,1,1,1,0,0,0.0,0,...,0,1,0,0,0,0,0,0,0,0
1043,47155980100,801.0,Sevier County,0,1,1,0,0,0.0,0,...,0,1,0,0,0,0,0,0,0,0