### Questions to Answer
(Respective datasets in parentheses) 

1. Which counties have the highest percentage of their population enrolled in SNAP? (Food Access Research Atlas)

2. What are the demographics of those counties? (Food Access Research Atlas) What about regions? (Food Access Research Atlas)

3. Are senior or children more likely to be food insecure? (Food Access Research Atlas)

4. Are the counties with highest percentages of SNAP enrollments also the counties with the highest percentages of food insecurity? (Food Access Research Atlas)

5. Which counties have the highest/lowest disparities in food access among census tracts? Of those counties, how do the min/max food insecure tract demographics compare? (Food Access Research Atlas)

6. Of the counties with the highest levels of food insecurity, what percentage of these tracts are in the lowest income brackets? (Food Access Research Atlas and Census Household Income)

7. Of the counties with the highest levels of food insecurity, what does spending for children’s programs look like? How has it changed over time? What about counties with the lowest levels of food insecurity? (TN Children Served)

8. What are the highest enrollments for children's programs? highest expenditures? and highest expenditures per child?

9. Which counties/programs have more reliable data? Look at “actual” vs “estimate”, NaN and outlier values for children served/expenditures.

10. How much do counties spend on SNAP and other food programs? How does that correlate with a county’s total SNAP enrollment? (Food Access Research Atlas and TN Children Served)

11. Do counties with the highest levels of income disparity tend to have higher percentages of food insecurity? (Food Access Research Atlas and Census Household Income)

In [2]:
import pandas as pd
from matplotlib import pyplot as plt
import seaborn as sns
import numpy as np

In [3]:
tn_food_access_df = pd.read_excel('../data/tn_food_access_clean_excel.xlsx')

In [4]:
tn_food_access_df.head()

,ct_long,county,county_and_state,region,state,country,Urban,Pop2010,OHU2010,TractLOWI,...,laaian20,laaian20share,laomultir20,laomultir20share,lahisp20,lahisp20share,lahunv20,lahunv20share,lasnap20,lasnap20share
0,47001020100,Anderson,"Anderson, Tennessee",East,Tennessee,United States of America,1,3111,1546,1381,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,47001020201,Anderson,"Anderson, Tennessee",East,Tennessee,United States of America,1,3670,1535,604,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,47001020202,Anderson,"Anderson, Tennessee",East,Tennessee,United States of America,1,4507,2025,1741,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,47001020300,Anderson,"Anderson, Tennessee",East,Tennessee,United States of America,1,3822,1656,1077,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,47001020400,Anderson,"Anderson, Tennessee",East,Tennessee,United States of America,1,4508,2013,1995,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

1. Which counties have the highest percentage of occupied housing units enrolled in SNAP? (Food Access Research Atlas)

`TractSNAP` - Total count of housing units receiving SNAP benefits in tract 

`county_and_state` groupby

`OHU2010` - Occupied housing unit count from 2010 census